@model IEnumerable<Company.Models.DatabaseModels.Company>

<p><a asp-action="Create">Добавить компанию</a></p>
<table class="table">
    <tr><th>Commpany</th><th>Стоимоть компании</th><th>Количество сотрудников</th><th></th><th></th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.AboutCompany.Value</td>
            <td>@item.AboutCompany.NumberEmployees</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>
